# Clase de Python + R + Chat GPT intensivo

In [ ]:
def check_password(admin,password):
  if admin == "Benito" and password == "ZerotoHero":
    print("Hola bienvenido a la clase")
  else:
    print("Contraseña incorrecta o usuario incorrecto")

In [ ]:
check_password("Juan","1234")

Contraseña incorrecta o usuario incorrecto

In [ ]:
base_datos = {'juan': 'contraseña1', 'maria': 'contraseña2', 'pedro': 'contraseña3', 'laura': 'contraseña4', 'carlos': 'contraseña5'}

In [ ]:
def verificar_usuario(usuario, contraseña, base_datos):
    if usuario not in base_datos:
        return False
    if base_datos[usuario] == contraseña:
        return True
    else:
        return False

In [ ]:
verificar_usuario("juan","contraseña1",base_datos)

True

#Creación de API de inventario

In [ ]:
base_datos = {'manzanas': {'precio': 1.5, 'cantidad': 10},
              'naranjas': {'precio': 2.0, 'cantidad': 8},
              'platanos': {'precio': 1.0, 'cantidad': 12},
              'peras': {'precio': 2.5, 'cantidad': 5},
              'uvas': {'precio': 3.0, 'cantidad': 15}}

In [ ]:
base_datos["manzanas"]

{'precio': 1.5, 'cantidad': 10}

In [ ]:
base_datos.keys()

dict_keys(['manzanas', 'naranjas', 'platanos', 'peras', 'uvas'])

In [ ]:
def realizar_venta(base_datos):
    total = 0
    while True:
        producto = input('Ingresa el nombre del producto vendido (o "terminar" para finalizar la venta): ')
        if producto == 'terminar':
            break
        if producto not in base_datos.keys():
            print('El producto no se encuentra en la base de datos.')
            continue
        cantidad = int(input('Ingresa la cantidad vendida: '))
        base_datos[producto]["cantidad"] -= cantidad
        precio_unitario = base_datos[producto]["precio"]
        total_producto = int(cantidad) * precio_unitario
        print("Holaaaaaa")
        total += total_producto
        print(f'Se vendieron {cantidad} unidades de {producto} por un total de {total_producto} pesos.')
    return total

In [ ]:
def agregar_producto(producto, cantidad):
    if producto in base_datos:
        base_datos[producto]['cantidad'] += cantidad
    else:
        precio = float(input("Ingrese el precio del producto: "))
        base_datos[producto] = {'precio': precio, 'cantidad': cantidad}

    print("El producto {} se ha agregado correctamente a la base de datos.".format(producto))

# Ejemplo de uso de la función
agregar_producto('Guayabas', 10)
print(base_datos)

Ingrese el precio del producto: 10
El producto Guayabas se ha agregado correctamente a la base de datos.
{'manzanas': {'precio': 1.5, 'cantidad': 10}, 'naranjas': {'precio': 2.0, 'cantidad': 8}, 'platanos': {'precio': 1.0, 'cantidad': 12}, 'peras': {'precio': 2.5, 'cantidad': 5}, 'uvas': {'precio': 3.0, 'cantidad': 15}, 'Guayabas': {'precio': 10.0, 'cantidad': 10}}

In [ ]:
def eliminar_producto(producto):
    if producto in base_datos:
        del base_datos[producto]
        print("El producto {} ha sido eliminado correctamente de la base de datos.".format(producto))
    else:
        print("El producto {} no existe en la base de datos.".format(producto))

# Ejemplo de uso de la función
eliminar_producto('peras')
print(base_datos)

El producto peras ha sido eliminado correctamente de la base de datos.
{'manzanas': {'precio': 1.5, 'cantidad': 10}, 'naranjas': {'precio': 2.0, 'cantidad': 8}, 'platanos': {'precio': 1.0, 'cantidad': 12}, 'uvas': {'precio': 3.0, 'cantidad': 15}, 'Guayabas': {'precio': 10.0, 'cantidad': 10}}

In [ ]:
base_datos

{'manzanas': {'precio': 1.5, 'cantidad': 10},
 'naranjas': {'precio': 2.0, 'cantidad': 8},
 'platanos': {'precio': 1.0, 'cantidad': 12},
 'uvas': {'precio': 3.0, 'cantidad': 15},
 'Guayabas': {'precio': 10.0, 'cantidad': 10}}

In [ ]:
def aumentar_precio():
    for producto in base_datos:
        base_datos[producto]['precio'] *= 1.08

    print("Se ha aumentado el precio en un 8% para todos los productos.")

# Ejemplo de uso de la función
aumentar_precio()
print(base_datos)

Se ha aumentado el precio en un 8% para todos los productos.
{'manzanas': {'precio': 1.62, 'cantidad': 10}, 'naranjas': {'precio': 2.16, 'cantidad': 8}, 'platanos': {'precio': 1.08, 'cantidad': 12}, 'uvas': {'precio': 3.24, 'cantidad': 15}, 'Guayabas': {'precio': 10.8, 'cantidad': 10}}

In [ ]:
def menu(base_datos):

    while True:
      print("Selecciona una opción:")
      print("1 - Agregar producto")
      print("2 - Eliminar producto")
      print("3 - Aumentar precio")
      print("4 - Realizar venta")
      print("5 - Salir")

      opcion = input("Opción seleccionada: ")

      if opcion == '1':
          producto = input("Producto a agregar: ")
          cantidad = int(input("Cantidad: "))
          agregar_producto(producto,cantidad)
      elif opcion == '2':
          producto = input("Producto a eliminar: ")
          eliminar_producto(producto)
      elif opcion == '3':
          aumentar_precio()
      elif opcion == '4':
         # producto = input("Producto a vender: ")
          #cantidad = int(input("Cantidad a vender: "))
          realizar_venta(base_datos)
      elif opcion == '5':
          break
      else:
          print("Opción inválida. Inténtalo de nuevo.")

In [ ]:
base_datos

{'manzanas': {'precio': 1.62, 'cantidad': 10},
 'naranjas': {'precio': 2.16, 'cantidad': 8},
 'platanos': {'precio': 1.08, 'cantidad': 12},
 'uvas': {'precio': 3.24, 'cantidad': 15},
 'Guayabas': {'precio': 10.8, 'cantidad': 10}}

In [ ]:
menu(base_datos)

Selecciona una opción:
1 - Agregar producto
2 - Eliminar producto
3 - Aumentar precio
4 - Realizar venta
5 - Salir
Opción seleccionada: 4
Ingresa el nombre del producto vendido (o "terminar" para finalizar la venta): manzanas
Ingresa la cantidad vendida: 20
Holaaaaaa
Se vendieron 20 unidades de manzanas por un total de 30.0 pesos.
Ingresa el nombre del producto vendido (o "terminar" para finalizar la venta): terminar
Selecciona una opción:
1 - Agregar producto
2 - Eliminar producto
3 - Aumentar precio
4 - Realizar venta
5 - Salir
Opción seleccionada: 5

In [ ]:
base_datos

{'manzanas': {'precio': 1.62, 'cantidad': 10},
 'naranjas': {'precio': 2.16, 'cantidad': 8},
 'platanos': {'precio': 1.08, 'cantidad': 12},
 'uvas': {'precio': 3.24, 'cantidad': 15},
 'Guayabas': {'precio': 10.8, 'cantidad': 10}}

##Programación orientada a objetos

In [ ]:
class Persona:
  def __init__(self,nombre,edad,ingresos):
    self.nombre = nombre
    self.edad = edad
    self.ingresos = ingresos

  def presentarse(self):
    print(f"hola mi nombre es {self.nombre} y mi edad es {self.edad}")

In [ ]:
Benito = Persona("Benito",24,10000)

Juana = Persona("Juana",35,20000000000)

In [ ]:
Benito.nombre

'Benito'

In [ ]:
Benito.presentarse()

Juana.presentarse()

hola mi nombre es Benito y mi edad es 24
hola mi nombre es Juana y mi edad es 35

In [ ]:
class Perro:
  def __init__(self,nombre):
    self.nombre = nombre

  def ladrar(self,numerito):
    for i in range(numerito):
      print("Guau!!")

In [ ]:
P1 = Perro("Lobito")

print(P1.nombre)

Lobito

In [ ]:
P1.ladrar(10)

Guau!!
Guau!!
Guau!!
Guau!!
Guau!!
Guau!!
Guau!!
Guau!!
Guau!!
Guau!!

In [ ]:
papel = Producto("vogue",100,50)

papel.aumentar_precio(20)

print(papel.precio)

120.0

In [ ]:
class Producto:
    def __init__(self, nombre, precio, cantidad):
        self.nombre = nombre
        self.precio = precio
        self.cantidad = cantidad

    def aumentar_precio(self, porcentaje):
        self.precio *= (1 + porcentaje / 100)

class Inventario:
    def __init__(self, base_datos):
        self.productos = {nombre: Producto(nombre, info['precio'], info['cantidad']) for nombre, info in base_datos.items()}

    def agregar_producto(self, nombre, precio, cantidad):
        self.productos[nombre] = Producto(nombre, precio, cantidad)

    def eliminar_producto(self, nombre):
        if nombre in self.productos:
            del self.productos[nombre]

    def modificar_cantidad(self, nombre, nueva_cantidad):
        if nombre in self.productos:
            self.productos[nombre].cantidad = nueva_cantidad

    def vender(self, nombre, cantidad_vendida):
        if nombre in self.productos and self.productos[nombre].cantidad >= cantidad_vendida:
            self.productos[nombre].cantidad -= cantidad_vendida
            total_venta = cantidad_vendida * self.productos[nombre].precio
            print(total_venta)
        else:
          print("El producto no esta disponible")
        return -1

    def aumentar_precio(self, nombre, porcentaje):
        if nombre in self.productos:
            self.productos[nombre].aumentar_precio(porcentaje)

base_datos = {'manzanas': {'precio': 1.5, 'cantidad': 10},
              'naranjas': {'precio': 2.0, 'cantidad': 8},
              'platanos': {'precio': 1.0, 'cantidad': 12},
              'peras': {'precio': 2.5, 'cantidad': 5},
              'uvas': {'precio': 3.0, 'cantidad': 15}}

inventario = Inventario(base_datos)

# Ejemplo de uso
inventario.vender('manzanas', 2)
inventario.modificar_cantidad('naranjas', 10)
inventario.aumentar_precio('platanos', 8)
inventario.agregar_producto('kiwis', 2.0, 20)
inventario.eliminar_producto('uvas')

for producto in inventario.productos.values():
    print(producto.nombre, producto.precio, producto.cantidad)

3.0
manzanas 1.5 8
naranjas 2.0 10
platanos 1.08 12
peras 2.5 5
kiwis 2.0 20

In [ ]:
def menu_usuario(inventario):
    while True:
        print("\nOpciones disponibles:")
        print("1. Realizar venta")
        print("2. Modificar cantidad")
        print("3. Aumentar precio")
        print("4. Agregar producto")
        print("5. Eliminar producto")
        print("6. Mostrar inventario")
        print("7. Salir")

        opcion = input("\nPor favor, elige una opción: ")

        if opcion == '1':
            nombre = input("Introduce el nombre del producto: ")
            cantidad = int(input("Introduce la cantidad vendida: "))
            if inventario.vender(nombre, cantidad):
                print("Venta realizada con éxito.")
            else:
                print("Error: no se pudo realizar la venta.")
        elif opcion == '2':
            nombre = input("Introduce el nombre del producto: ")
            nueva_cantidad = int(input("Introduce la nueva cantidad: "))
            inventario.modificar_cantidad(nombre, nueva_cantidad)
        elif opcion == '3':
            nombre = input("Introduce el nombre del producto: ")
            porcentaje = float(input("Introduce el porcentaje de aumento: "))
            inventario.aumentar_precio(nombre, porcentaje)
        elif opcion == '4':
            nombre = input("Introduce el nombre del nuevo producto: ")
            precio = float(input("Introduce el precio del producto: "))
            cantidad = int(input("Introduce la cantidad del producto: "))
            inventario.agregar_producto(nombre, precio, cantidad)
        elif opcion == '5':
            nombre = input("Introduce el nombre del producto a eliminar: ")
            inventario.eliminar_producto(nombre)
        elif opcion == '6':
            print("\nInventario:")
            for producto in inventario.productos.values():
                print(f"{producto.nombre} - Precio: {producto.precio:.2f}, Cantidad: {producto.cantidad}")
        elif opcion == '7':
            break
        else:
            print("Opción inválida. Por favor, intenta de nuevo.")

# Creando el inventario con la base de datos
inventario = Inventario(base_datos)

# Llamando a la función menu_usuario()
menu_usuario(inventario)

Opciones disponibles:
1. Realizar venta
2. Modificar cantidad
3. Aumentar precio
4. Agregar producto
5. Eliminar producto
6. Mostrar inventario
7. Salir

Por favor, elige una opción: 1
Introduce el nombre del producto: nido
Introduce la cantidad vendida: 3
El producto no esta disponible
Venta realizada con éxito.

Opciones disponibles:
1. Realizar venta
2. Modificar cantidad
3. Aumentar precio
4. Agregar producto
5. Eliminar producto
6. Mostrar inventario
7. Salir

KeyboardInterrupt: ignored

##Introduccion a la ciencia de datos

In [ ]:
import pandas as pd #manejo de datos

df = pd.read_csv("/content/iris.csv",header =None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [ ]:
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [ ]:
y_test

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# 1. Cargar el conjunto de datos
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
dataset = pd.read_csv(url, header=None, names=column_names)

# 2. Dividir el conjunto de datos en características (X) y etiquetas (y)
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

# 3. Codificar las etiquetas de las clases como números enteros
encoder = LabelEncoder()
y = encoder.fit_transform(y)

# 4. Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 5. Entrenar un modelo de regresión logística con el conjunto de entrenamiento
model = LogisticRegression() #no sabe
model.fit(X_train, y_train)# ya aprendio

# 6. Evaluar el modelo con el conjunto de prueba
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 1.00
Confusion Matrix:
 [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30